[Unit]
Description=Analyze
After=network.target

[Service]
Environment="BOT_TOKEN=578***"
Environment="CHANNEL=-100***"
Environment="MODERATOR_CHANNEL=-955***"
Environment="RZN_URL=https://***"
Environment="YA_URL=https://***"
Type=simple
PIDFile=/var/run/analyze.pid
WorkingDirectory=/home/marlik/analyze
ExecStart=/home/marlik/analyze/bin/app
ExecStop=/bin/kill -INT $MAINPID
User=root
Group=root
StandardOutput=file:/var/log/analyze.log
StandardError=file:/var/log/analyze.log
Restart=always

[Install]
WantedBy=multi-user.target
